<?xml version="1.0"?>
<config>
    <modules>
        <Veles_Discount>
            <version>0.0.1</version>
        </Veles_Discount>
    </modules>
    <global>
        <blocks>
            <veles_discount>
                <class>Veles_Discount_Block</class>
            </veles_discount>
        </blocks>
        <helpers>
            <veles_discount>
                <class>Veles_Discount_Helper</class>
            </veles_discount>
        </helpers>
        <models>
            <veles_discount>
                <class>Veles_Discount_Model</class>
            </veles_discount>
            <veles_discount_resource>
                <class>Veles_Discount_Model_Resource</class>
                <entities>
                    <veles_discount_table>
                        <table>veles_discount_items</table>
                    </veles_discount_table>
                </entities>
            </veles_discount_resource>
        </models>
        <resources>
            <veles_discount_setup>
                <setup>
                    <module>Veles_Discount</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </veles_discount_setup>
        </resources>
    </global>
</config>