<?xml version="1.0"?>
<config>
    <modules>
        <Veles_CustomerCredit>
            <version>0.0.2</version>
        </Veles_CustomerCredit>
    </modules>
    <global>
        <models>
            <velescustomercredit>
                <class>Veles_CustomerCredit_Model</class>
                <resourceModel>velescustomercredit_resource</resourceModel>
            </velescustomercredit>
            <velescustomercredit_resource>
                <class>Veles_CustomerCredit_Model_Resource</class>
                <entities>
                    <table_customercredit>
                        <table>veles_customercredit_items</table>
                    </table_customercredit>
                </entities>
            </velescustomercredit_resource>
        </models>
        <resources>
            <veles_customercredit_setup>
                <setup>
                    <module>Veles_CustomerCredit</module>
                </setup>
            </veles_customercredit_setup>
        </resources>
        <blocks>
            <velescustomercredit>
                <class>Veles_CustomerCredit_Block</class>
            </velescustomercredit>
        </blocks>
        <helpers>
            <velescustomercredit>
                <class>Veles_CustomerCredit_Helper</class>
            </velescustomercredit>
        </helpers>
        <pdf>
            <totals>
                <customercredit translate="title">
                    <title>Customer Credit</title>
                    <source_field>customercredit_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </customercredit>
            </totals>
        </pdf>
        <fieldsets>
            <sales_convert_quote_address>
                <customercredit_amount>
                    <to_order>*</to_order>
                </customercredit_amount>
                <base_customercredit_amount>
                    <to_order>*</to_order>
                </base_customercredit_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <events>
            <paypal_prepare_line_items>
                <observers>
                    <paypal_prepare_line_items>
                        <class>customercredit/observer</class>
                        <method>updatePaypalTotal</method>
                    </paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>customercredit/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after>
                        <class>customercredit/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
        <sales>
            <quote>
                <totals>
                    <customercredit>
                        <class>velescustomercredit/sales_quote_address_total_credit</class>
                        <renderer>velescustomercredit/checkout_totals_credit</renderer>
                        <admin_renderer>velescustomercredit/adminhtml_sales_order_create_totals_credit</admin_renderer>
                    </customercredit>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <customercredit>
                        <class>velescustomercredit/sales_order_total_invoice_credit</class>
                    </customercredit>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <customercredit>
                        <class>velescustomercredit/sales_order_total_creditmemo_credit</class>
                    </customercredit>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <frontend>
        <layout>
            <updates>
                <velescustomercredit>
                    <file>veles_customercredit.xml</file>
                </velescustomercredit>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <velescustomercredit>
                    <file>veles_customercredit.xml</file>
                </velescustomercredit>
            </updates>
        </layout>
    </adminhtml>
</config>