<!--@subject Mage.loc | Default Notification Email. @-->
<!--@vars
{
    "var logo_url":"Email Logo Image Url",
    "var logo_alt":"Email Logo Image Alt",
    "var customer_name":"Customer Name",
}
@-->
<body>
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:20px;">
        <center><img src="{{var logo_url}}" alt="{{var logo_alt}}"></center><br>
        Hi, {{var customer_name}} ! <br>
        Its Default Notification Email <br>
    </div>
</body>