<!--@subject Mage.loc | New answer for the question. @-->
<!--@vars
{
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var question_link":"Question Link",
"var question":"Question",
"var answer":"Answer",
}
@-->
<body>
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:20px;">
    <center><img src="{{var logo_url}}" alt="{{var logo_alt}}"></center><br>
    Hi <br>
    You got the answer for the your question. <br>
    <div>
        <p><strong>Question: </strong>{{var question}}</p>
        <p><strong>Answer: </strong>{{var answer}}</p>
    </div>
    <br>Also you can view it at this link {{var question_link}}
</div>
</body>