<?xml version="1.0"?>
<config>
    <modules>
        <Veles_Discounts>
            <version>0.0.2</version>
        </Veles_Discounts>
    </modules>
    <global>
        <blocks>
            <veles_discounts>
                <class>Veles_Discounts_Block</class>
            </veles_discounts>
            <veles_discounts>
                <rewrite>
                    <coupon>Veles_Discounts_Block_Checkout_Cart_Coupon</coupon>
                </rewrite>
            </veles_discounts>
        </blocks>
        <helpers>
            <veles_discounts>
                <class>Veles_Discounts_Helper</class>
            </veles_discounts>
        </helpers>
        <models>
            <veles_discounts>
                <class>Veles_Discounts_Model</class>
                <resourceModel>veles_discounts_resource</resourceModel>
            </veles_discounts>
            <veles_discounts_resource>
                <class>Veles_Discounts_Model_Resource</class>
                <entities>
                    <veles_customers_discounts_table>
                        <table>veles_discounts_items</table>
                    </veles_customers_discounts_table>
                </entities>
            </veles_discounts_resource>
        </models>
        <resources>
            <velesdiscounts_setup>
                <setup>
                    <module>Veles_Discounts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </velesdiscounts_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <sales_order_place_after>
                        <class>veles_discounts/observer</class>
                        <method>orderPlaceAfter</method>
                    </sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>veles_discounts/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after>
                        <class>veles_discounts/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
        <sales>
            <quote>
                <totals>
                    <discount>
                        <class>veles_discounts/sales_quote_address_total_discount</class>
                        <renderer>veles_discounts/checkout_totals_discount</renderer>
                        <admin_renderer>veles_discounts/adminhtml_sales_order_create_totals_discount</admin_renderer>
                    </discount>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <discount>
                        <class>veles_discounts/sales_order_total_invoice_discount</class>
                    </discount>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <discount>
                        <class>veles_discounts/sales_order_total_creditmemo_discount</class>
                    </discount>
                </totals>
            </order_creditmemo>
        </sales>
        <template>
            <email>
                <discount_level_email>
                    <label>Discount Level Email</label>
                    <file>discount_level_email.html</file>
                    <type>html</type>
                </discount_level_email>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <veles_discounts>
                    <file>veles_discounts.xml</file>
                </veles_discounts>
            </updates>
        </layout>
        <routers>
            <veles_discounts>
                <use>standard</use>
                <args>
                    <module>Veles_Discounts</module>
                    <frontName>discounts</frontName>
                </args>
            </veles_discounts>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <veles_discounts>
                    <file>veles_discounts.xml</file>
                </veles_discounts>
            </updates>
        </layout>
        <menu>
            <veles_discounts module="veles_discounts">
                <title>Discounts 4 Order</title>
                <sort_order>77</sort_order>
                <children>
                    <customers_discounts translate="title" module="veles_discounts">
                        <title>Customers Discounts</title>
                        <sort_order>20</sort_order>
                        <action>veles_discounts_admin/adminhtml_discount</action>
                    </customers_discounts>
                </children>
            </veles_discounts>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <discounts_options>
                                            <title>Discounts 4 Order Section</title>
                                        </discounts_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <veles_discounts_admin>
                <use>admin</use>
                <args>
                    <module>Veles_Discounts</module>
                    <frontName>veles_discounts_admin</frontName>
                </args>
            </veles_discounts_admin>
        </routers>
    </admin>
    <default>
        <simple>
            <send_email>
                <template>discount_level_email</template>
            </send_email>
        </simple>
    </default>
</config>