<?xml version="1.0" ?>
<config>
    <modules>
        <Veles_News>
            <version>0.0.2</version>
        </Veles_News>
    </modules>
    <frontend>
        <layout>
            <updates>
                <velesnews>
                    <file>veles_news.xml</file>
                </velesnews>
            </updates>
        </layout>
        <routers>
            <velesnews>
                <use>standard</use>
                <args>
                    <module>Veles_News</module>
                    <frontName>news</frontName>
                </args>
            </velesnews>
        </routers>
    </frontend>
    <admin>
        <routers>
            <velesnews_admin>
                <use>admin</use>
                <args>
                    <module>Veles_News</module>
                    <frontName>velesnews_admin</frontName>
                </args>
            </velesnews_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <velesnews module="velesnews">
                <title>News</title>
                <sort_order>77</sort_order>
                <children>
                    <velesnews_news translate="title" module="velesnews">
                        <title>News</title>
                        <sort_order>10</sort_order>
                        <action>velesnews_admin/adminhtml_news</action>
                    </velesnews_news>
                    <velesnews_category translate="title" module="velesnews">
                        <title>Categories</title>
                        <sort_order>20</sort_order>
                        <action>velesnews_admin/adminhtml_category</action>
                    </velesnews_category>
                </children>
            </velesnews>
        </menu>
    </adminhtml>
    <global>
        <blocks>
            <velesnews>
                <class>Veles_News_Block</class>
            </velesnews>
        </blocks>
        <models>
            <velesnews>
                <class>Veles_News_Model</class>
                <resourceModel>velesnews_resource</resourceModel>
            </velesnews>
            <velesnews_resource>
                <class>Veles_News_Model_Resource</class>
                <entities>
                    <table_news>
                        <table>veles_news_entities</table>
                    </table_news>
                    <table_categories>
                        <table>veles_news_categories</table>
                    </table_categories>
                </entities>
            </velesnews_resource>
        </models>
        <resources>
            <velesnews_setup>
                <setup>
                    <module>Veles_News</module>
                </setup>
            </velesnews_setup>
        </resources>
        <helpers>
            <velesnews>
                <class>Veles_News_Helper</class>
            </velesnews>
        </helpers>
    </global>
</config>