<?xml version="1.0"?>
<config>
    <modules>
        <Veles_Credit>
            <version>0.0.2</version>
        </Veles_Credit>
    </modules>
    <global>
        <models>
            <credit>
                <class>Veles_Credit_Model</class>
                <resourceModel>credit_resource</resourceModel>
            </credit>
            <credit_resource>
                <class>Veles_Credit_Model_Resource</class>
                <entities>
                    <table_credit>
                        <table>veles_customercredit_items</table>
                    </table_credit>
                </entities>
            </credit_resource>
        </models>
        <resources>
            <velescredit_setup>
                <setup>
                    <module>Veles_Credit</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </velescredit_setup>
        </resources>
        <blocks>
            <credit>
                <class>Veles_Credit_Block</class>
            </credit>
        </blocks>
        <helpers>
            <credit>
                <class>Veles_Credit_Helper</class>
            </credit>
        </helpers>
        <extraconfig />
        <pdf>
            <totals>
                <credit translate="title">
                    <title>Customer Credit</title>
                    <source_field>credit_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </credit>
            </totals>
        </pdf>
        <fieldsets>
            <sales_convert_quote_address>
                <credit_amount>
                    <to_order>*</to_order>
                </credit_amount>
                <base_credit_amount>
                    <to_order>*</to_order>
                </base_credit_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <events>
            <paypal_prepare_line_items>
                <observers>
                    <paypal_prepare_line_items>
                        <class>credit/observer</class>
                        <method>updatePaypalTotal</method>
                    </paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_place_after>
                <observers>
                    <sales_order_place_after>
                        <class>credit/observer</class>
                        <method>orderPlaceAfter</method>
                    </sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>credit/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after>
                        <class>credit/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
        <sales>
            <quote>
                <totals>
                    <credit>
                        <class>credit/sales_quote_address_total_credit</class>
                        <renderer>credit/checkout_totals_credit</renderer>
                        <admin_renderer>credit/adminhtml_sales_order_create_totals_credit</admin_renderer>
                    </credit>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <credit>
                        <class>credit/sales_order_total_invoice_credit</class>
                    </credit>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <credit>
                        <class>credit/sales_order_total_creditmemo_credit</class>
                    </credit>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <frontend>
        <layout>
            <updates>
                <credit>
                    <file>veles_credits.xml</file>
                </credit>
            </updates>
        </layout>
        <routers>
            <credit>
                <use>standard</use>
                <args>
                    <module>Veles_Credit</module>
                    <frontName>credit</frontName>
                </args>
            </credit>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <credit>
                    <file>veles_credits.xml</file>
                </credit>
            </updates>
        </layout>
        <menu>
            <credit module="credit">
                <title>Customer Credit</title>
                <sort_order>77</sort_order>
                <children>
                    <credit_customers translate="title" module="credit">
                        <title>Customers</title>
                        <sort_order>10</sort_order>
                        <action>credit_admin/adminhtml_customers</action>
                    </credit_customers>
                </children>
            </credit>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <credit_options>
                                            <title>Module Settings Section</title>
                                        </credit_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <credit_admin>
                <use>admin</use>
                <args>
                    <module>Veles_Credit</module>
                    <frontName>credit_admin</frontName>
                </args>
            </credit_admin>
        </routers>
    </admin>
</config>