<?xml version="1.0"?>
<config>
    <modules>
        <Veles_Notifications>
            <version>0.0.1</version>
        </Veles_Notifications>
    </modules>
    <global>
        <blocks>
            <veles_notifications>
                <class>Veles_Notifications_Block</class>
            </veles_notifications>
        </blocks>
        <helpers>
            <veles_notifications>
                <class>Veles_Notifications_Helper</class>
            </veles_notifications>
        </helpers>
        <models>
            <veles_notifications>
                <class>Veles_Notifications_Model</class>
                <resourceModel>veles_notifications_resource</resourceModel>
            </veles_notifications>
            <veles_notifications_resource>
                <class>Veles_Notifications_Model_Resource</class>
                <entities>
                    <veles_notifications_rules_table>
                        <table>veles_notifications_rules</table>
                    </veles_notifications_rules_table>
                    <veles_notifications_events_table>
                        <table>veles_notifications_events</table>
                    </veles_notifications_events_table>
                    <veles_notifications_queue_table>
                        <table>veles_notifications_queue</table>
                    </veles_notifications_queue_table>
                    <veles_notifications_user_products_table>
                        <table>veles_notifications_user_products</table>
                    </veles_notifications_user_products_table>
                </entities>
            </veles_notifications_resource>
        </models>
        <resources>
            <velesnotifications_setup>
                <setup>
                    <module>Veles_Notifications</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </velesnotifications_setup>
        </resources>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <checkout_cart_add_product_complete>
                        <class>veles_notifications/observer</class>
                        <method>checkoutCartAddProductComplete</method>
                    </checkout_cart_add_product_complete>
                </observers>
            </checkout_cart_add_product_complete>
            <sales_order_place_after>
                <observers>
                    <sales_order_place_after>
                        <class>veles_notifications/observer</class>
                        <method>orderPlaceAfter</method>
                    </sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_shipment_save_after>
                <observers>
                    <sales_order_shipment_save_after>
                        <class>veles_notifications/observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </sales_order_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
            <order_cancel_after>
                <observers>
                    <order_cancel_after>
                        <class>veles_notifications/observer</class>
                        <method>orderCancelAfter</method>
                    </order_cancel_after>
                </observers>
            </order_cancel_after>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>veles_notifications/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
        </events>
        <template>
            <email>
                <veles_notification_shipping_review_email translate="label" module="veles_notifications">
                    <label>Veles Notifications: Review On Shipping Email</label>
                    <file>veles_notification_review_on_shipping_email.html</file>
                    <type>html</type>
                </veles_notification_shipping_review_email>
                <veles_notification_abandoned_cart_email translate="label" module="veles_notifications">
                    <label>Veles Notifications: Abandoned Cart Email</label>
                    <file>veles_notification_abandoned_cart_email.html</file>
                    <type>html</type>
                </veles_notification_abandoned_cart_email>
                <veles_notification_discount_for_bought_email translate="label" module="veles_notifications">
                    <label>Veles Notifications: Discount For Bought Email</label>
                    <file>veles_notification_discount_for_bought_email.html</file>
                    <type>html</type>
                </veles_notification_discount_for_bought_email>
                <veles_notification_default_email translate="label" module="veles_notifications">
                    <label>Veles Notifications: Default Notification Email</label>
                    <file>veles_notification_default_email.html</file>
                    <type>html</type>
                </veles_notification_default_email>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <veles_notifications>
                <use>standard</use>
                <args>
                    <module>Veles_Notifications</module>
                    <frontName>notifications</frontName>
                </args>
            </veles_notifications>
        </routers>
    </frontend>
    <adminhtml>
        <menu>
            <veles_notifications module="veles_notifications">
                <title>Customer Notifications</title>
                <sort_order>77</sort_order>
                <children>
                    <notification_rules translate="title" module="veles_notifications">
                        <title>Rules</title>
                        <sort_order>10</sort_order>
                        <action>veles_notifications_admin/adminhtml_rules</action>
                    </notification_rules>
                    <notification_events translate="title" module="veles_notifications">
                        <title>Events</title>
                        <sort_order>20</sort_order>
                        <action>veles_notifications_admin/adminhtml_events</action>
                    </notification_events>
                    <notification_queue translate="title" module="veles_notifications">
                        <title>Queue</title>
                        <sort_order>30</sort_order>
                        <action>veles_notifications_admin/adminhtml_queue</action>
                    </notification_queue>
                </children>
            </veles_notifications>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <veles_notifications_options>
                                            <title>Module Settings Section</title>
                                        </veles_notifications_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <veles_notifications_admin>
                <use>admin</use>
                <args>
                    <module>Veles_Notifications</module>
                    <frontName>veles_notifications_admin</frontName>
                </args>
            </veles_notifications_admin>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <veles_notifications_queue>
                <schedule>
                    <cron_expr>*/60 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>veles_notifications/queue::sendNotificationCron</model>
                </run>
            </veles_notifications_queue>
        </jobs>
    </crontab>
    <default>
        <veles_notifications>
            <email>
                <email_template>veles_notification_default_email</email_template>
            </email>
        </veles_notifications>
    </default>
</config>