<?xml version="1.0"?>
<config>
    <modules>
        <Veles_Fee>
            <version>0.0.2</version>
        </Veles_Fee>
    </modules>
    <global>
        <models>
            <fee>
                <class>Veles_Fee_Model</class>
                <resourceModel>fee_resource</resourceModel>
            </fee>
            <fee_resource>
                <class>Veles_Fee_Model_Resource</class>
                <entities>
                    <table_fee>
                        <table>veles_customercredit_items</table>
                    </table_fee>
                </entities>
            </fee_resource>
        </models>
        <resources>
            <velesfee_setup>
                <setup>
                    <module>Veles_Fee</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </velesfee_setup>
        </resources>
        <blocks>
            <fee>
                <class>Veles_Fee_Block</class>
            </fee>
        </blocks>
        <helpers>
            <fee>
                <class>Veles_Fee_Helper</class>
            </fee>
        </helpers>
        <extraconfig />
        <pdf>
            <totals>
                <fee translate="title">
                    <title>Fee</title>
                    <source_field>fee_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </fee>
            </totals>
        </pdf>
        <fieldsets>
            <sales_convert_quote_address>
                <fee_amount>
                    <to_order>*</to_order>
                </fee_amount>
                <base_fee_amount>
                    <to_order>*</to_order>
                </base_fee_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <events>
            <paypal_prepare_line_items>
                <observers>
                    <paypal_prepare_line_items>
                        <class>fee/observer</class>
                        <method>updatePaypalTotal</method>
                    </paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>fee/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after>
                        <class>fee/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
        <sales>
            <quote>
                <totals>
                    <fee>
                        <class>fee/sales_quote_address_total_fee</class>
                        <renderer>fee/checkout_totals_fee</renderer>
                        <admin_renderer>fee/adminhtml_sales_order_create_totals_fee</admin_renderer>
                    </fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <fee>
                        <class>fee/sales_order_total_invoice_fee</class>
                    </fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <fee>
                        <class>fee/sales_order_total_creditmemo_fee</class>
                    </fee>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <frontend>
        <layout>
            <updates>
                <fee>
                    <file>veles_fee.xml</file>
                </fee>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <fee>
                    <file>veles_fee.xml</file>
                </fee>
            </updates>
        </layout>
        <menu>
            <fee module="fee">
                <title>Fee</title>
                <sort_order>77</sort_order>
                <children>
                    <fee_customers translate="title" module="fee">
                        <title>Customers</title>
                        <sort_order>10</sort_order>
                        <action>fee_admin/adminhtml_customers</action>
                    </fee_customers>
                </children>
            </fee>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <fee_options>
                                            <title>Store Hello World Module Section</title>
                                        </fee_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <fee_admin>
                <use>admin</use>
                <args>
                    <module>Veles_Fee</module>
                    <frontName>fee_admin</frontName>
                </args>
            </fee_admin>
        </routers>
    </admin>
</config>