<config>
    <sections>
        <sales>
            <groups>
                <cc_settings translate="label">
                    <label>Customer Credit Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <first_opt translate="label">
                            <label>First option</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </first_opt>
                        <second_opt translate="label">
                            <label>Second option</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </second_opt>
                    </fields>
                </cc_settings>
            </groups>
        </sales>
    </sections>
</config>