<config>
    <tabs>
        <feeconfig translate="label" module="fee">
            <label>Customer Credit Config</label>
            <sort_order>99999</sort_order>
        </feeconfig>
    </tabs>
    <sections>
        <fee_options translate="label" module="fee">
            <label>Customer Credit Config Options</label>
            <tab>feeconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <rules translate="label">
                    <label>Customer Credit</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <fee_method_rule>
                            <label>Type of bonuses</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fee/bonuses</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fee_method_rule>
                        <fee_percentage_rule>
                            <label>Percentage from cost</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fee_percentage_rule>
                        <fee_static_rule>
                            <label>Static value</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fee_static_rule>
                    </fields>
                </rules>
            </groups>
        </fee_options>
    </sections>
</config>