<?xml version="1.0" ?>
<config>
    <modules>
        <Veles_FAQ>
            <version>0.0.1</version>
        </Veles_FAQ>
    </modules>
    <frontend>
        <layout>
            <updates>
                <velesfaq>
                    <file>veles_faq.xml</file>
                </velesfaq>
            </updates>
        </layout>
        <routers>
            <velesfaq>
                <use>standard</use>
                <args>
                    <module>Veles_FAQ</module>
                    <frontName>faq</frontName>
                </args>
            </velesfaq>
        </routers>
    </frontend>
    <admin>
        <routers>
            <velesfaq_admin>
                <use>admin</use>
                <args>
                    <module>Veles_FAQ</module>
                    <frontName>velesfaq_admin</frontName>
                </args>
            </velesfaq_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <velesfaq module="velesfaq">
                <title>FAQ</title>
                <sort_order>77</sort_order>
                <children>
                    <velesfaq_faq translate="title" module="velesfaq">
                        <title>Questions</title>
                        <sort_order>10</sort_order>
                        <action>velesfaq_admin/adminhtml_faq</action>
                    </velesfaq_faq>
                    <velesfaq_category translate="title" module="velesfaq">
                        <title>Categories</title>
                        <sort_order>20</sort_order>
                        <action>velesfaq_admin/adminhtml_category</action>
                    </velesfaq_category>
                </children>
            </velesfaq>
        </menu>
    </adminhtml>
    <global>
        <models>
            <velesfaq>
                <class>Veles_FAQ_Model</class>
                <resourceModel>velesfaq_resource</resourceModel>
            </velesfaq>
            <velesfaq_resource>
                <class>Veles_FAQ_Model_Resource</class>
                <entities>
                    <table_faq>
                        <table>veles_faq_questions</table>
                    </table_faq>
                    <table_faq_categories>
                        <table>veles_faq_categories</table>
                    </table_faq_categories>
                    <table_faq_statuses>
                        <table>veles_faq_statuses</table>
                    </table_faq_statuses>
                    <table_faq_category_question>
                        <table>veles_faq_category_question</table>
                    </table_faq_category_question>
                </entities>
            </velesfaq_resource>
        </models>
        <resources>
            <velesfaq_setup>
                <setup>
                    <module>Veles_FAQ</module>
                </setup>
            </velesfaq_setup>
        </resources>
        <blocks>
            <velesfaq>
                <class>Veles_FAQ_Block</class>
            </velesfaq>
        </blocks>
        <helpers>
            <velesfaq>
                <class>Veles_FAQ_Helper</class>
            </velesfaq>
        </helpers>
        <template>
            <email>
                <simple_email>
                    <label>Simple Email</label>
                    <file>simpleEmail.html</file>
                    <type>html</type>
                </simple_email>
            </email>
        </template>
    </global>
    <default>
        <simple>
            <sendemail>
                <template>simple_email</template>
            </sendemail>
        </simple>
    </default>
</config>